{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/min.css' %}">
    <title>Залізнична каса</title>
</head>
<body>
    <div class="container">
        <h1>Вітаємо у системі залізничної каси</h1>
        <ul>
            <li><a href="{% url 'passenger_list' %}">Пасажири</a></li>
            <li><a href="{% url 'cashier_list' %}">Касири</a></li>
            <li><a href="{% url 'trip_list' %}">Поїздки</a></li>
            <li><a href="{% url 'tickets_list' %}">Квитки</a></li>
        </ul>
    </div>
</body>
</html>
